<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="JavaScript, AngularJS and HTML5 engineer helping build a better web.">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/js/modernizr.min.js"></script>
  </head>
  <body {% if page.data %} data-page="{{ page.data }}"{% endif %} {% if page.class %} class="{{ page.class }}"{% endif %}>

    <div class="sidebar clear">
      <div class="sidebar__profile">
        <a href="/">
          <img src="/assets/img/flo.jpg" alt="Cabirol Florian" class="sidebar__profile-img">
        </a>
        <h1 class="sidebar__profile-name">
          Cabirol Florian
        </h1>
        <div class="sidebar__profile-bio clear">
          <p>
            <b>Freelancer in Lyon, France.</b><br>
            Currently in <b>computer 5th engineering school.</b><br>
            Web development Lover. <br>
            PHP, Javascript, NodeJs. <br>
            Symfony, Mysql, NodeJs, MongoDB.<br>
          </p>
        </div>
        <nav class="sidebar__profile-nav">
          <ul>
            <li>
              <a href="/">
                Posts
              </a>
            </li><!--
            --><li>
              <a href="/about">
                About
              </a>
            </li><!--
            --><li>
              <a href="/feed.xml">
                RSS
              </a>
            </li>
          </ul>
        </nav>
        <div class="social__wrapper">
            <div class="social-link" title="Twitter"><a href="{{site.twitter_link}}"> <i class="fa fa-twitter"></i> </a> </div>
            <div class="social-link" title="GitHub"><a href="{{site.github_link}}"> <i class="fa fa-github"></i> </a></div>
            <div class="social-link" title="Linkedin"><a href="{{site.linkedin_link}}"> <i class="fa fa-linkedin"></i> </a></div>
        </div>
      </div>
    </div>
